
# Env
.env

# Python

## environments
.venv

## bytecode
*.pyc
*.pyo

## cache
**/__pycache__/

## python version
.python-version

## packaging
*.egg-info/
**build/
**dist/

## c extensions
**.so
/geo-city/harvesine/harvesine.c

## local dev stuff
local/

# IDE/Code specific
.idea
.atom

# temp data
**.json
geo-city/data/**.txt
old

