
# Env
.env

# Python

## environments
.venv

## bytecode
*.pyc
*.pyo

## cache
**/__pycache__/

## python version
.python-version

## packaging
*.egg-info/
**build/
**dist/

## c extensions
**.so

## local dev stuff
local/

# IDE/Code specific
.idea
.atom

# temp data
geo-city/temp/


/geo-city/calculation/calculation.c
/geo-city/data/result.csv
